@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to banking app</h1>
    <p>@Html.ActionLink("View all Accounts here.","Index","Accounts") </p>
    <p>@Html.ActionLink("Initiate a transfer here.","Index","Transfer")</p>
    <p>@Html.ActionLink("View all Transactions here.","Index","Transactions")</p>
</div>
